<cds-modal [open]="modalState()" (overlaySelected)="handleOnCloseModal()" (close)="handleOnCloseModal()">
    <cds-modal-header (closeSelect)="handleOnCloseModal()" [showCloseButton]="true">
        <p cdsModalHeaderHeading class="cds--modal-header__heading cds--type-beta">{{ modalTitle }} Todo</p>
    </cds-modal-header>
    <div class="cds--modal-content">
        <ng-content></ng-content>
    </div>
    <!-- <cds-modal-footer>
        <ng-container>
            <button cdsButton="primary" (click)="triggerCloseModal.emit()" [attr.modal-primary-focus]="true">
                Okay
            </button>
        </ng-container>
        <ng-container>
            <button cdsButton="secondary" (click)="triggerCloseModal.emit()" [attr.modal-primary-focus]="true">
                Close
            </button>
        </ng-container>
    </cds-modal-footer> -->
</cds-modal>
