::ng-deep .cds--modal-container {
    border-radius: 5px;

    ::ng-deep .cds--modal-header__heading {
        font-weight: bold;
        text-transform: capitalize;
    }

    ::ng-deep .cds--modal-footer {
        padding: 0 16px;
        margin-bottom: 16px;
        block-size: unset;
        gap: 10px;
    }
}

// ::ng-deep .cds--modal-content .cds--btn:not(.cds--skeleton) {
//     padding-block: 0;
//     block-size: 0;
//     padding-inline: 0;
//     justify-content: center;
//     align-items: center;
//     font-size: 16px;
//     font-weight: bold;
// }
