<div class="todos">
    <main class="todos_container">
        <header class="todos_header">
            <p>todos works!</p>
            <a [routerLink]="'/login'">Login</a>
            <button (click)="loadingAPITest()">Re-trigger API</button>
        </header>
        <section class="todos_content">
            <cds-contained-list [label]="combinedTools" [action]="combinedActions">
                @if (isLoading()) {
                <!-- Handle Loading State -->
                <app-todo-skeletons [variant]="skeletonVariants.TODO_ITEM" />
                } @else if (todos().length > 0) {
                <!-- Loaded List -->
                @for (item of todos(); track item.id) {
                <app-todo-item [todo]="item" />
                }
                <!-- Handle Emplty List -->
                } @else {
                <div class="todos_empty">
                    <strong> Opps, There is nothing here :(( </strong>
                </div>
                }
            </cds-contained-list>
        </section>
        <footer class="todos_f ooter"></footer>
    </main>
</div>

<ng-template #combinedActions>
    <cds-search
        class="todos-searchbar"
        [expandable]="true"
        placeholder="Search Todo By Title"
        size="lg"
        (valueChange)="onSearchBarChange($event)"
        (clear)="loadingTodos()"
    ></cds-search>
    <button [iconOnly]="true" cdsButton="primary" kind="primary" description="Add" [routerLink]="'add'">
        <svg class="cds--btn__icon" ibmIcon="add" size="16"></svg>
    </button>
</ng-template>

<ng-template #combinedTools>
    <app-todo-tools />
</ng-template>

<app-todo-modal [modalState]="modalState()" (triggerCloseModal)="handleTriggerCloseModal()">
    <router-outlet />
</app-todo-modal>
