.todos {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: start;
    height: 100vh;
    .todos_container {
        border: 1px solid oklch(0.929 0.013 255.508);
        border-radius: 20px;
        padding: 10px;
        width: 60vw;

        .todos_header p {
            font-size: 30px;
            font-weight: bold;
            color: #008000;
        }

        .todos_content {
            ::ng-deep .cds--contained-list__header {
                padding-inline: 0;
                height: fit-content;
                gap: 10px;

                ::ng-deep .cds--contained-list__action {
                    position: static;
                    flex: 1 0 50%;
                    margin-bottom: 3px;
                    max-width: 100%;
                }

                ::ng-deep .cds--contained-list__label {
                    inline-size: unset;
                    flex: 1 1 50%;
                    max-width: 100%;

                    ::ng-deep .cds--list-box__menu-item__option {
                        padding-inline-end: 0;
                        &:focus {
                            outline: none;
                        }
                    }
                    .todos_tools {
                        display: flex;
                        gap: 5px;
                        max-width: 100%;

                        .sort {
                            flex: 1 0 50%;

                            ::ng-deep .cds--list-box__menu-icon {
                                display: none;
                            }

                            .hiddenLastChild {
                                ::ng-deep .cds--list-box__menu {
                                    li[title='Clear Sort'] {
                                        display: none;
                                    }
                                }
                            }

                            .item {
                                font-size: 14px;
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                height: 100%;
                            }
                        }

                        .filter {
                            flex: 1 0 50%;
                        }

                        ::ng-deep .cds--dropdown,
                        .cds--list-box__field:focus,
                        .cds--list-box__menu-item--highlighted,
                        .cds--list-box__menu:focus {
                            border-radius: 5px;
                            border-bottom: none;
                            outline-color: #f4f4f5;
                        }
                    }
                }
            }
            .todos_empty {
                width: 100%;
                text-align: center;
                margin: 50px 0;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .todos_container {
        min-width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .todos .todos_container {
        min-width: 90vw;
        ::ng-deep .cds--contained-list__header {
            flex-wrap: wrap;

            ::ng-deep .cds--contained-list__action {
                flex-direction: row-reverse;
                justify-content: start;
            }
            ::ng-deep .cds--contained-list__label {
                min-width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .todos .todos_container {
        min-width: 90vw;
    }
}
