<div class="todos">
    <main class="todos_container">
        <header class="todos_header">
            <p>todos works!</p>
        </header>
        <section class="todos_content">
            <cds-contained-list [label]="combinedTools" [action]="combinedActions">
                <!-- @for (item of todos(); track item.id) {
                <app-todo-item [todo]="item" />
                } -->
            </cds-contained-list>
        </section>
        <footer class="todos_footer"></footer>
    </main>
</div>

<ng-template #combinedActions>
    <cds-search
        class="todos-searchbar"
        [expandable]="true"
        placeholder="Search Todo By Title"
        size="lg"
        (valueChange)="onSearchBarChange($event)"
    ></cds-search>
    <button [iconOnly]="true" cdsButton="primary" kind="primary" description="Add" [routerLink]="'add'">
        <svg class="cds--btn__icon" ibmIcon="add" size="16"></svg>
    </button>
</ng-template>

<ng-template #combinedTools>
    <app-todo-tools />
</ng-template>

<app-todo-modal [modalState]="modalState()" (triggerCloseModal)="handleTriggerCloseModal()">
    <router-outlet />
</app-todo-modal>
