<cds-contained-list-item [clickable]="true" class="todo-item-container" [action]="overflowMenu">
    <ng-container ibmContainedListItemButton>
        <div class="todo-item-content">
            <span class="todo-item-content_state">
                <cds-checkbox [checked]="true" [hideLabel]="true"></cds-checkbox>
            </span>
            <span class="todo-item-content_title">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores modi cum quas odit nesciunt vero,
                    et recusandae. Culpa maxime sapiente laboriosam earum cum accusamus nostrum perferendis,
                    necessitatibus, est, officia quo!
                </p>
                <p class="cds--label cds--label--no-margin">Deadline: 00/00/0000</p>
            </span>
            <span class="todo-item-details">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores modi cum quas odit nesciunt vero, et
                recusandae. Culpa maxime sapiente laboriosam earum cum accusamus nostrum perferendis, necessitatibus,   
                est, officia quo!
            </span>
        </div>
    </ng-container>
</cds-contained-list-item>

<ng-template #overflowMenu let-item>
    <ibm-tooltip class="cds--icon-tooltip todos-tooltip" description="Options">
        <ibm-overflow-menu
            [flip]="false"
            triggerClass="cds--toolbar-action"
            placement="bottom"
            [offset]="{ x: 50, y: -10 }"
        >
            <ibm-overflow-menu-option>View details</ibm-overflow-menu-option>
            <ibm-overflow-menu-option>Edit</ibm-overflow-menu-option>
            <ibm-overflow-menu-option [divider]="true" type="danger"> Remove </ibm-overflow-menu-option>
        </ibm-overflow-menu>
    </ibm-tooltip>
</ng-template>
