<div class="todos_tools">
    <cds-combo-box
        [items]="taskTypes"
        placeholder="Type"
        [appendInline]="true"
        type="multi"
        (selected)="handleSelectType($event)"
    >
        <cds-dropdown-list></cds-dropdown-list>
    </cds-combo-box>
    <cds-combo-box
        [items]="taskPriorities"
        placeholder="Priority"
        [appendInline]="true"
        type="multi"
        (selected)="handleSelectPriority($event)"
    >
        <cds-dropdown-list></cds-dropdown-list>
    </cds-combo-box>
    <cds-combo-box
        [items]="taskStatuses"
        placeholder="Status"
        [appendInline]="true"
        type="multi"
        (selected)="handleSelectStatus($event)"
    >
        <cds-dropdown-list></cds-dropdown-list>
    </cds-combo-box>
    <cds-combo-box
        [items]="sortState"
        placeholder="Sort By"
        [appendInline]="true"
        (selected)="handleSelectSort($event)"
    >
        <cds-dropdown-list></cds-dropdown-list>
    </cds-combo-box>
</div>
