<button #trigger cdsButton="primary" (click)="openModal()">Open</button>

<cds-modal [open]="isModalOpen" [trigger]="trigger" (overlaySelected)="closeModal()" (close)="closeModal()">
    <cds-modal-header (closeSelect)="closeModal()" [showCloseButton]="true">
        <p class="cds--modal-header__label cds--type-delta">No service required</p>
        <p class="cds--modal-header__heading cds--type-beta">A very simple modal</p>
    </cds-modal-header>
    <div class="cds--modal-content">
        <p>hello world</p>
    </div>
    <cds-modal-footer>
        <ng-container>
            <button cdsButton="primary" (click)="closeModal()" [attr.modal-primary-focus]="true">Okay</button>
        </ng-container>
    </cds-modal-footer>
</cds-modal>
