<cds-contained-list-item class="todo-item-container" [action]="overflowMenu">
    <ng-container>
        <div class="todo-item-content">
            <span class="todo-item-content_state">
                <cds-checkbox
                    [checked]="todo().isCompleted"
                    [hideLabel]="true"
                    (click)="handleUpdateState()"
                ></cds-checkbox>
            </span>
            <span class="todo-item-content_title">
                <p>
                    {{ todo().title }}
                </p>
                <p class="cds--label cds--label--no-margin">Deadline: {{ todo().deadline[0] | date : 'dd/MM/yyyy' }}</p>
            </span>
            <span class="todo-item-details">
                {{ todo().details }}
            </span>
        </div>
    </ng-container>
</cds-contained-list-item>

<ng-template #overflowMenu let-item>
    <ibm-tooltip class="cds--icon-tooltip todos-tooltip" description="Options">
        <ibm-overflow-menu
            [flip]="false"
            triggerClass="cds--toolbar-action"
            placement="bottom"
            [offset]="{ x: 50, y: -10 }"
        >
            <ibm-overflow-menu-option (click)="handleViewDetails()">View details</ibm-overflow-menu-option>
            <ibm-overflow-menu-option (click)="handleEdit()">Edit</ibm-overflow-menu-option>
            <ibm-overflow-menu-option (click)="onRemoveClick.emit(todo())" [divider]="true" type="danger">
                Remove
            </ibm-overflow-menu-option>
        </ibm-overflow-menu>
    </ibm-tooltip>
</ng-template>
