<cds-contained-list-item class="todo-item-container" [action]="overflowMenu">
    <ng-container>
        <div class="todo-item-content">
            <div class="todo-item-content_title">
                <p class="todo-item-container">
                    <span class="details-state draft">{{ task().type }}</span>
                    {{ task().title }}
                </p>
                <p class="cds--label cds--label--no-margin">
                    {{ task().startDate | date : 'dd/MM/yyyy' }} - {{ task().endDate | date : 'dd/MM/yyyy' }}
                </p>
            </div>
            <div class="todo-item-content_state">
                <span class="details-state {{ task().status | lowercase }}">{{ task().status }}</span>
                <span class="details-state {{ task().priority | lowercase }}">{{ task().priority }}</span>
            </div>
            <!-- <div class="todo-item-content_priority">
                <span class="details-state {{ task().priority | lowercase }}">{{ task().priority }}</span>
            </div> -->
            <span class="todo-item-details">
                {{ task().details }}
            </span>
        </div>
    </ng-container>
</cds-contained-list-item>

<ng-template #overflowMenu let-item>
    <ibm-tooltip class="cds--icon-tooltip todos-tooltip" description="Options">
        <ibm-overflow-menu
            [flip]="false"
            triggerClass="cds--toolbar-action"
            placement="bottom"
            [offset]="{ x: 50, y: -10 }"
        >
            <ibm-overflow-menu-option (click)="handleViewDetails()">View details</ibm-overflow-menu-option>
            <ibm-overflow-menu-option (click)="handleEdit()">Edit</ibm-overflow-menu-option>
            <ibm-overflow-menu-option (click)="handleRemove()" [divider]="true" type="danger">
                Remove
            </ibm-overflow-menu-option>
        </ibm-overflow-menu>
    </ibm-tooltip>
</ng-template>
