@if (isLoading()) {
<app-todo-skeletons [variant]="skeletonsVariants.TODO_FORM_EDIT" />
}@else {
<form class="todo-form" [formGroup]="todoForm" (ngSubmit)="onSubmit()">
    <cds-text-label
        [invalid]="
            !todoForm.controls['title'].valid &&
            (todoForm.controls['title'].dirty || todoForm.controls['title'].touched)
        "
        [invalidText]="
            todoForm.controls['title'].hasError('required')
                ? 'Please fill the Todo title'
                : todoForm.controls['title'].hasError('minlength')
                ? 'Title must have at least 6 characters'
                : todoForm.controls['details'].hasError('whitespace')
                ? 'Invalid value, value is only whitespace'
                : ''
        "
    >
        Title:
        <input
            cdsText
            type="text"
            class="input-field"
            placeholder="Type your Todo Title..."
            name="title"
            formControlName="title"
            [readOnly]="isEditingOrAdding()"
        />
    </cds-text-label>
    <div class="todo-form_row">
        <cds-date-picker
            [label]="'Start Date:'"
            [theme]="'dark'"
            [range]="false"
            name="startDate"
            formControlName="startDate"
            [invalid]="
                !todoForm.controls['startDate'].valid &&
                (todoForm.controls['startDate'].dirty || todoForm.controls['startDate'].touched)
            "
            [invalidText]="'Please fill the Start Date'"
            dateFormat="d/m/Y"
            [readonly]="isEditingOrAdding()"
        ></cds-date-picker>
        <cds-date-picker
            [label]="'End Date:'"
            [theme]="'dark'"
            [range]="false"
            name="endDate"
            formControlName="endDate"
            [invalid]="
                !todoForm.controls['endDate'].valid &&
                (todoForm.controls['endDate'].dirty || todoForm.controls['endDate'].touched)
            "
            [invalidText]="'Please fill the End Date'"
            dateFormat="d/m/Y"
            [readonly]="isEditingOrAdding()"
        ></cds-date-picker>
    </div>
    <div class="todo-form_row">
        <cds-combo-box
            label="Type"
            formControlName="type"
            [items]="taskTypes"
            [appendInline]="true"
            [invalid]="
                !todoForm.controls['type'].valid &&
                (todoForm.controls['type'].dirty || todoForm.controls['type'].touched)
            "
            [invalidText]="'Please select Type'"
            [readonly]="isEditingOrAdding()"
        >
            <cds-dropdown-list></cds-dropdown-list>
        </cds-combo-box>
        <cds-combo-box
            label="Priority"
            formControlName="priority"
            [items]="taskPriorities"
            [appendInline]="true"
            [invalid]="
                !todoForm.controls['priority'].valid &&
                (todoForm.controls['priority'].dirty || todoForm.controls['priority'].touched)
            "
            [invalidText]="'Please select Priority'"
            [readonly]="isEditingOrAdding()"
        >
            <cds-dropdown-list></cds-dropdown-list>
        </cds-combo-box>
        <cds-combo-box
            label="Status"
            formControlName="status"
            [items]="taskStatuses"
            [appendInline]="true"
            [invalid]="
                !todoForm.controls['status'].valid &&
                (todoForm.controls['status'].dirty || todoForm.controls['status'].touched)
            "
            [invalidText]="'Please select Status'"
            [readonly]="isEditingOrAdding()"
        >
            <cds-dropdown-list></cds-dropdown-list>
        </cds-combo-box>
    </div>
    <cds-textarea-label
        [invalid]="
            !todoForm.controls['details'].valid &&
            (todoForm.controls['details'].dirty || todoForm.controls['details'].touched)
        "
        [invalidText]="
            todoForm.controls['details'].hasError('required')
                ? 'Please fill the Todo details'
                : todoForm.controls['details'].hasError('minlength')
                ? 'Title must have at least 6 characters'
                : todoForm.controls['details'].hasError('whitespace')
                ? 'Invalid value, value is only whitespace'
                : 'Something is wrong'
        "
    >
        Details:
        <textarea
            autoResize
            cdsTextArea
            class="textarea-field"
            placeholder="Type your Todo Details..."
            name="details"
            formControlName="details"
            [readOnly]="isEditingOrAdding()"
        ></textarea>
    </cds-textarea-label>
    <div class="todo-form_row">
        <ng-container>
            <button
                cdsButton="primary"
                type="submit"
                [disabled]="todoForm.invalid || isEditingOrAdding()"
                [attr.modal-primary-focus]="true"
            >
                <cds-inline-loading [isActive]="isEditingOrAdding()"></cds-inline-loading>Okay
            </button>
        </ng-container>
        <ng-container>
            <button
                cdsButton="secondary"
                type="button"
                (click)="onCloseButtonClick()"
                [attr.modal-primary-focus]="true"
                [disabled]="isEditingOrAdding()"
            >
                Close
            </button>
        </ng-container>
    </div>
</form>
}
