<!-- Skeleton for Items list -->
@if (variant() === variants.TODO_ITEM) { @for (item of numSkeletons; track $index) {
<div class="todo-item-skeleton">
    <div class="todo-item-skeleton__checkbox"></div>
    <div class="todo-item-skeleton__content">
        <div class="todo-item-skeleton__title todo-skeleton__loading"></div>
        <div class="todo-item-skeleton__deadline todo-skeleton__loading"></div>
        <div class="todo-item-skeleton__description todo-skeleton__loading"></div>
    </div>
    <div class="todo-item-skeleton__details">
        <div class="todo-item-skeleton__description todo-skeleton__loading"></div>
        <div class="todo-item-skeleton__description todo-skeleton__loading"></div>
        <div class="todo-item-skeleton__description todo-skeleton__loading"></div>
    </div>
</div>
} }

<!-- Skeleton for Form Edit -->
@if (variant() === variants.TODO_FORM_EDIT) {
<div class="form">
    <div class="form__group">
        <p class="form__label">Title:</p>
        <div class="form__input todo-skeleton__loading"></div>
    </div>
    <div class="form__row">
        <div class="form__group">
            <p class="form__label">Deadline:</p>
            <div class="form__input todo-skeleton__loading"></div>
        </div>
        <div class="form__group">
            <p class="form__label">Is Completed:</p>
            <div class="form__toggle todo-skeleton__loading"></div>
        </div>
    </div>

    <div class="form__group">
        <p class="form__label">Details:</p>
        <div class="form__textarea todo-skeleton__loading"></div>
    </div>

    <div class="form__actions">
        <div class="form__button todo-skeleton__loading"></div>
        <div class="form__button todo-skeleton__loading"></div>
    </div>
</div>
}

<!-- Skeleton for Todo Details -->
@if (variant() === variants.TODO_DETAILS) {
<div class="details">
    <div class="details__title todo-skeleton__loading"></div>
    <div class="details__deadline todo-skeleton__loading"></div>
    <div class="details__state">
        <div class="details__button todo-skeleton__loading"></div>
    </div>
    <div class="details__description todo-skeleton__loading"></div>
</div>
}
